@model IEnumerable<Spange_Bob.Models.Home>

@{
    ViewData["Title"] = "Homes";
}

<h1>Homes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HomeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsNeighbour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HomeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsNeighbour)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HomeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HomeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HomeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
